<h1>Detail Page</h1>
<p>{{ message }}</p>
<p><b>You selected id:</b> {{ book.id }}</p>
<p><b>Title:</b> {{ book.volumeInfo.title }}</p>
<p><b>Authors:</b>
	<p ng-repeat="author in book.volumeInfo.authors">{{author || "undefined"}}</p>
</p>
<p><img ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}"></p>
<p><button  ng-click="addToFavourites(book)">Add to Favourites</button></p>
