<h1>Favourites Page</h1>
<p>{{ message }}</p>
<table>
	<tr>
		<th>Id</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Remove from Favourites</th>
	</tr>
  <tr ng-repeat="book in books">
    <td>{{book.id}}</td>
    <td>{{book.volumeInfo.title}}</td>
    <td><p ng-repeat="author in book.volumeInfo.authors">{{author || "undefined"}}</p></td>
    <td><a  ng-click="delete(book.id)" href="">remove</a></td>
  </tr>
</table>
<a  ng-click="clearAll()" href="">Clear all</a>
