<h1>Recent Page</h1>
<p>{{ message }}</p>
<table>
  <tr ng-repeat="search in searches">
    <td>{{ search }}</td>
  </tr>
  <p><button  ng-click="clearSearches()">Clear Search History</button></p>
</table>


