<!DOCTYPE html>
<html lang="en" ng-app="formSkel">
	<!--
	This page demonstrates a form.
	-->
	<head>
		<meta charset="utf-8"/>
		<title>Demonstrating HTML forms</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
	</head>

	<body ng-controller="MainCtrl as ctrl">
		<h1>Turnitin</h1>

		<form  name ="form" lang="fi" action="" ng-submit="ctrl.submit()">
			<div>
				Name: <input type="text" ng-model="ctrl.studentname"/>
			</div>
			<div>
				Student id: <input type="text" name="id" ng-model="ctrl.id" ng-pattern="/^[0-9]{6,7}$/" required />
					<span ng-show="form.id.$invalid">Invalid StudentID</span><br>

			</div>
			<div>
				Email: <input type="text" name="email" ng-model="ctrl.email" ng-pattern="/^.+@.+\..+$/" required/>
        <span ng-show="form.email.$invalid">Email is invalid</span><br>

				<!--
				Make an input named "email"
				-->


			</div>
			<div>
				Assignment: <input type="text" ng-model="ctrl.assignment" />
				<!--
				Make an input named "assignment"
				-->

			</div>

			<div>
				Code: <textarea ng-model="ctrl.code"></textarea>
				<!--
				Make an input named "code" which is a text area to put student's code into.
				-->

			</div>
			<div>
				Cheat: <input type="checkbox" ng-model="ctrl.cheat" required/>
			<!--
				Make an input named "cheat" which is a check box the student must check.
			-->
			</div>
			<div>
				Pay:
				<input type="radio" name="payment" ng-model="ctrl.payment" value="Visa"/>visa
				<input type="radio" name="payment" ng-model="ctrl.payment" value="Paypal"/>paypal
				<input type="radio" name="payment" ng-model="ctrl.payment" value="Mastercard"/>mastercard

			<!--
				Make an input named "payment" which is a radio box with possible values of visa, paypal, mastercard
			-->
			</div>
			<div>
				Score:<select ng-model="ctrl.score" >
				<option value="0">-</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				</select>
			<!--
				Make an input named "score" which is a list of choices for the score
			-->
			</div>
			<input type="submit" ng-click="ctrl.submit()"/>
		</form>
		<a href="https://jigsaw.w3.org/css-validator/check/referer">Validate</a>

			<script type="text/javascript">
        angular.module('formSkel', [])
            .controller('MainCtrl', [

                function () {
                    this.submit = function () {
											console.log('Name: ', this.studentname,
																	'\nStudent ID: ', this.id,
																	'\nEmail: ', this.email,
																	'\nAssignment: ', this.assignment,
																	'\nCode: ', this.code,
																	'\nCheat: ', this.cheat,
																	'\nPay: ', this.payment,
																	'\nScore: ', this.score);
                    };
    		}]);
    </script>

	</body>
</html>
